:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #101010;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h4 {
  color: #fff;
}

.tracker {
  text-align: center;
  padding: 16px;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  padding: 16px;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  text-align: left;
}

.book-card.completed {
  background-color: #4caf50;
  color: #fff;
}

input {
  width: 90%;
  padding: 4px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.reset-button {
  padding: 8px 16px;
  background-color: #f44336bc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.progress-bar {
  margin: 16px 0;
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.progress-bar__fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.progress-bar__text {
  margin-top: 8px;
  font-size: 14px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.increment-button {
  display: none;
  padding: 4px 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.increment-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .input-container {
    flex-direction: column;
    align-items: stretch;
  }

  .increment-button {
    display: inline-block; /* Mostra o botão */
    width: 20%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}
